body {
    margin: 0;
}

.bold {
    font-weight: 800;
}

.big-text {
    font-size: 4rem;
}

.medium-text {
    font-size: 1.7rem;
}

.articles {
    background-color: #1c1c1c;
    padding: 6vh 12vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.article-card {
    margin-top: 4vh;
    padding: 2rem;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.article-card .date {
    color: #808080;
}

.article-card .description {
    color: #808080;
    font-size: 1.3rem;
}

.menu-item:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.2);

}

.article-card:hover{
    transition: 0.5s ease-in-out;
    transform: scale(1.02);
}

.see-projects:hover{
    color: #87CEEB;
    text-decoration: underline;
}

footer {
    background-color: #1c1c1c;
}

#logo {
    margin: 0 1.2vw;
}

#welcome-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*display: grid;
    grid-template-columns: repeat(2, 1fr);*/
    margin-top: 10vh;
}

#welcome-section div {
    margin-left: 7vw;
    width: 50%;
}

#welcome-section p {
    margin-bottom: 1vw;
}

@media (max-width: 800px) {
    #welcome-section {
        flex-direction: column;
    }

    #welcome-section div {
        margin-top: 10vw;
        margin-left: 0;
    }

    #welcome-section img{
        transform: scale(1.2);
    }
    .articles{
        padding: 1.75rem 1.75rem;
    }
}